#video {
    text-align: center;
}

iframe {
    height: 240px;
}

video {
    padding: 10px;
    width: 240px;
}

.broadcast .mdl-grid {
    text-align: center;
}

.mdl-layout__drawer {
    width: 500px;
    left: -250px;
}

.mdl-layout__drawer.is-visible {
    left: 0;
}