iframe {
    flex-grow: 1;
}

video {
    padding: 10px;
    width: 240px;
}

#video {
    display: flex;
    width: 100%;
    height: 90%;
}

.full-screen {
    height: 100%;
}

.participantsVideos video {
    float: right;
}

.mdl-layout__drawer {
    width: 500px;
    left: -250px;
}

.mdl-layout__drawer.is-visible {
    left: 0;
}