iframe {
    flex-grow: 1;
}

video {
    padding: 10px;
    width: 240px;
}

#video {
    display: flex;
    width: 100%;
    height: 90%;
}

.full-screen {
    height: 100%;
}

.participantsVideos video {
    float: right;
    border-radius: 100px;
    
}


.mdl-layout__drawer {
    background-color: #81dfa0;
    width: 500px;
    left: -250px;
}

.mdl-layout__drawer.is-visible {
    left: 0;
}

.collabo-background{
    background: linear-gradient(#b2ebc7,#ebfaf0);
}

.collabo-header{
    background-color: #81dfa0;
}

.mdl-layout__header{
    background-color: #81dfa0;
}

.mdl-layout_tab-bar-container{
    background-color: #81dfa0;
}

.collabo-rect{
    border-radius: 25px;
    background: #78b7d0;
}

.collabo-video{
    border: 15px #81dfa0;
    border-radius: 25px;
    background-color: #81dfa0;
}

.mdl-button--colored{
    background: #78b7d0;
}

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn; 

    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     

    visibility: visible !important; 
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;       
    }
    60% {
        transform: scale(1.1);  
    }
    80% {
        transform: scale(0.9);
        opacity: 1; 
    }   
    100% {
        transform: scale(1);
        opacity: 1; 
    }       
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;       
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1; 
    }   
    100% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }       
}